<pre class="sf-dump">
<span class="sf-dump-note">array:5</span> [
  "<span class="sf-dump-key">Rose</span>" =&gt; "<span class="sf-dump-str">Red</span>"
  "<span class="sf-dump-key">Violet</span>" =&gt; "<span class="sf-dump-str">Blue</span>"
  "<span class="sf-dump-key">Grass</span>" =&gt; "<span class="sf-dump-str">Green</span>"
  "<span class="sf-dump-key">Sun</span>" =&gt; "<span class="sf-dump-str">Yellow</span>"
  "<span class="sf-dump-key">Pig</span>" =&gt; "<span class="sf-dump-str">Pink</span>"
]</pre>
