<pre class="sf-dump">
<span class="sf-dump-note">array:5</span> [
  <span class="sf-dump-key">3</span> =&gt; <span class="sf-dump-num">0</span>
  <span class="sf-dump-key">4</span> =&gt; <span class="sf-dump-num">0</span>
  <span class="sf-dump-key">6</span> =&gt; <span class="sf-dump-num">0</span>
  <span class="sf-dump-key">7</span> =&gt; <span class="sf-dump-num">0</span>
  <span class="sf-dump-key">8</span> =&gt; <span class="sf-dump-num">0</span>
]</pre>
