<pre class="sf-dump">
<span class="sf-dump-note">array:8</span> [
  <span class="sf-dump-index">0</span> =&gt; <span class="sf-dump-num">4</span>
  <span class="sf-dump-index">1</span> =&gt; <span class="sf-dump-num">7</span>
  <span class="sf-dump-index">2</span> =&gt; <span class="sf-dump-num">8</span>
  <span class="sf-dump-index">3</span> =&gt; <span class="sf-dump-num">1</span>
  <span class="sf-dump-index">4</span> =&gt; <span class="sf-dump-num">2</span>
  <span class="sf-dump-index">5</span> =&gt; <span class="sf-dump-num">7</span>
  <span class="sf-dump-index">6</span> =&gt; <span class="sf-dump-num">9</span>
  <span class="sf-dump-index">7</span> =&gt; <span class="sf-dump-num">10</span>
]</pre>
